  .input-div{
  display: flex;
  flex-direction: column;
  align-items: center;  
  min-height: 100vh;
  width: 100%;
  background-color: midnightblue;
}

.input-title { 
  margin-top: 30px;
  font-size: 32px;
}

.input-directions { 
  margin-top: 50px;
  font-size: 25px;
}

.input-section { 
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.input-category { 
  width: 80px;
  margin: 0px;
  font-size: 20px;
  font-weight: bold;
}

input { 
  width: 200px;
  height: 30px;
  font-size: 18px;
  padding-left: 10px;
  background-color: white;
  border: 2px solid midnightblue;
  outline: none;
}

input:focus { 
  border: 2px solid rgb(27, 182, 199);
}

.input-button-div { 
  width: 288px; 
  display: flex;
  justify-content: right;
  margin-top: 20px;
}

.input-button { 
  background-color: rgb(27, 182, 199);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  margin-top: 7px;
  transition: opacity .15s;
  cursor: pointer;
}

.input-button:hover { 
  opacity: 0.8;
}

.input-button:active { 
  opacity: 0.5;
}