@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.labelWithColor{
    color: midnightblue;
    font-size: 15px;
    resize: none;
    margin-bottom: 15px;
}
::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.Form-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #fff;
    box-shadow: 1px 1px 10px 10px #ddd;
    margin: auto; /* This will center the form horizontally */
    margin-top: 150px; /* Adjust the top margin as needed */
    padding: 20px 10px 10px 10px;

}


.input-feedback input, textarea{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.submit-button{
    background-color: rgb(233, 249, 249);
   
    
    padding: 2px;
    border-radius: 1px;
    font-size: 15px;
    font-family: "Poppins";
    cursor: pointer;

    align-self: flex-end;
    
    /* Add margin to create space between the button and the form */
    margin-top: 12px; /* Adjust the top margin as needed */
    margin-left: 364px;
    
}

form{ /*ensures that the submit button is on the form */
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
}

.form-header{
    color: midnightblue;
    text-align: center;
    font-size: 22px;
    font-weight:bold; 
}

.transparent-line {
    border-bottom: 1px solid rgba(164, 163, 163, 0.5);
    width: 90%;
    margin: 10px auto;
}