.nav-div { 
  height: 60px; 
  display: flex;
  align-items: center;  
  justify-content: center;
}

.icon-link:hover { 
  background-color: rgba(0, 0, 0, 0.2);
}

.active { 
  border-bottom: 4px solid rgb(30, 203, 222);
  height: 56px; 
}

.icon-div { 
  height: 60px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 30px;
  height: 30px;
  color: white;
}

