.nav-div { 
  height: 70px; 
  display: flex;
  align-items: center;  
  justify-content: center;
}

.icon-link:hover { 
  background-color: rgb(134, 70, 255)
}

.active { 
  border-bottom: 5px solid rgb(30, 203, 222);
  height: 65px; 
}

.icon-div { 
  height: 70px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 30px;
  height: 30px;
  color: white;
}

