.form-modal {
  
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
 
}
.form-modal-content {
  
  margin: auto;
  padding: 10px;
  
  width: 50%; /* Adjust the width as needed */
  max-width: 470px; /* Set a maximum width for better responsiveness */
}

.close {
 position: absolute;
 top: 105px; /* Adjust top position as needed */
 right: 220px; /* Adjust right position as needed */
 cursor: pointer;
 font-size: 17px;
 color: #888;
}