.header-div { 
  height: 100px; 
  width: 100%;
  display: flex;
  align-items: center;  
  justify-content: space-between;
}

.header-left { 
  display: flex; 
  align-items: center;
  margin-left: 25px;
  width: 195px;
  justify-content: space-between;
}

.header-bookify-icon {
  width: 50px;
  height: 50px;
  filter: invert(100%);
}

.header-app-name {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 38px;
  font-weight: bold;
}

.header-right { 
  margin-right: 25px;
  width: 195px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.review-link {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
}

.review-link:hover {
  text-decoration: underline;
}

.log-out-link {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.log-out-link:hover {
  text-decoration: underline;
}







