.results-div{
  display: flex;
  flex-direction: column;
  align-items: center;  
  min-height: 100vh;
  width: 100%;
  background-color: midnightblue;
  position: relative;
}

.results-title {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
}
